<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <header>
        <h1>Welcome to Flasky App</h1>
    </header>

    <h1>Hello World!</h1>

    <p>A value from a list: {{ mylist[3] }}.</p>

    {% if myintvar < mylist|length %}
        <p>A value from a list, with a variable index: {{ mylist[myintvar] }}.</p>
    {% else %}
        <p>Invalid index!</p>
    {% endif %}

    <p>A value from an object's method: {{ myobj.somemethod() }}.</p>

    <footer>
        <p>&copy; 2024 Flasky</p>
    </footer>
</body>
</html>
